<!-- This webpage is apart of the 'MY Stamp Collection website and was created by Liam McClelland on 03/02/2017 -->
<DOCTYPE! html>
	<html lan="en">
	<!-- START HEAD INFO -->
	<head>
			<link rel="stylesheet" type="text/css" href="file:///Users/liammcclelland/Documents/webtheme1/Theme-1/css/admin.css">
			<!-- START FONTS -->
			<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
			<!-- END FONTS -->
			<title>
			Home:Admin
			</title>
	</head>
<!-- END HEAD INFO -->

<!-- START HEADER -->
<header>
		<nav>
			<p><a href="file:///Users/liammcclelland/Documents/webtheme1/Theme-1/
				index.html" class="titlelink">Liam's Web Development Project</a></p>
			<ul>
				<li><a href="file:///Users/liammcclelland/Documents/webtheme1/Theme-1/index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
		</nav>
</header>

<!-- END HEADER -->

<!-- START BANNER -->
	<body>
		<div class="banner">
			<!-- You can change the background image displayed behind this text in the admin.css file -->
			<p class="placeholder"> ADMIN Portal</p>
		</div>
<!-- END BANNER -->

<!-- START MAIN CONTENT -->
		<div id="body">
			<!-- START NO CSS ALERT -->
			<hr class="nocss">
			<center class"nocss">
			<p class="nocsstext"><b><em>The CSS Styling sheet file is missing, not loaded or link is broken. Check the link.</em></b></p>
		</center>
			<hr class="nocss">
			<!-- END NO CSS ALERT -->
			<p class="bplaceholder">Insert Content Here</p>
			<!--<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br> -->
		</div>
	</body>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
	<footer>
			<p class="psmall">&copy 2017 My Stamp Collection. All Rights Reserved.</p>
			<hr style="width:20%;">
			<p class="psmall">Website Created By <a href="">Liam McClelland</a></p>
	</footer>
<!-- END FOOTER -->

<!-- END OF DOCUMENT -->
</html>