header {
	background:#52A0DB;
	color:White;
	padding:10px 15px 10px 15px;
}

header nav p {
	font-family:Oxygen;
	margin:0;
	display:inline;
}

header nav ul {
	margin:0;
	display:inline;
	padding-left:70%;
}

header nav ul li {
	display:inline-block;
	list-style-type: none;
	background:transparent;
	padding:5px;
	font-family:arial;
	font-size:15px;
}

header a {
	color: white;
	text-decoration: none;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-khtml-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transtion: color 0.2s linear;
}

header nav ul li a:hover {
	color:grey;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-khtml-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transtion: color 0.2s linear;
}

/* END HEADER */

/* START FOOTER */
footer {
	background:#52A0DB;
	height:50px;
	width:auto;
	margin:0;
	text-align:center;
	padding:50px;
	color:white;
	font-family:Arial;
}

footer a {
	color:white;
	text-decoration:underline;
}

footer a:hover {
	text-shadow:1px 1px 1px #666;
	text-decoration:none;
}
footer p {
	padding:0px;
	margin:0;
}

.psmall {
	font-size:13px;
}

/* END FOOTER */